<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="vendor/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="true"
         stopOnError="false"
         stopOnFailure="false"
         verbose="true"
>
    <logging>
        <log type="coverage-clover" target="build/logs/coverage.xml"/>
    </logging>
    <testsuites>
        <testsuite name="TrustNoSql Environment Test Suite">
            <directory suffix="Test.php">./tests/Environment</directory>
        </testsuite>
        <testsuite name="TrustNoSql Models Test Suite">
            <directory suffix="Test.php">./tests/Models</directory>
        </testsuite>
        <testsuite name="TrustNoSql Events Test Suite">
            <directory suffix="Test.php">./tests/Events</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix="Test.php">./tests/Environment</directory>
            <directory suffix="Test.php">./tests/Models</directory>
            <directory suffix="Test.php">./tests/Events</directory>
        </whitelist>
    </filter>
</phpunit>
